
.main{
    background-image: url("../images/2.png");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    max-height: 40%;
}

.navbar-brand{
    font-size: 3rem;
    font-weight: 700;
}

.nav-link{
    font-size: 1rem;
    color: #ffffff !important;
    font-weight: 400;
}

.nav-link:hover{
    border-bottom: 1px solid #f9f2f2;
}
.btn-primary{
    background-color: #800000;
    border: #800000;
    padding: 1rem 3rem;
}
.btn-primary:hover{
    background-color: #f9f2f2;
    color: #800000;
    border: #800000 !important;
}